{
	"branches": [
		"develop",
		"release"
	],
	"publishConfig": {
		"pkgRoot": "./dist"
	},
	"analyzeCommits": {
		"path": "semantic-release-conventional-commits",
		"patchTypes": [
			"fix",
			"docs",
			"refactor",
			"style",
			"test",
			"deps"
		]
	}
}
