name: Verify Pull Request

on:
  pull_request:
    branches:
      - release
      - develop
jobs:
  verify-code:
    name: Verify code
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install, build, and test
        run: |
          yarn install --frozen-lockfile
          yarn lint
          yarn build
          yarn test:coverage
          yarn docs:build
          yarn size
        env:
          CI: true

  verify-title:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: yarn install --frozen-lock
      - name: Run commitlint against PR title
        run: yarn commitlint <<< "${{ github.event.pull_request.title }}"
