name: Preview Release

on:
  pull_request:
    branches:
      - release

jobs:
  publish-package-preview:
    strategy:
      matrix:
        node-version: [12.x]

    name: Publish package [Preview]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Build
        run: |
          yarn install --frozen-lockfile
          yarn build
      - name: Publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release-github-pr --branches ${GITHUB_REF##*/}
